.landing.page {
	height: 100vh;
	display: grid;
	place-content: center;
	row-gap: 5rem;
	background-color: var(--black);
}

@media (min-width: 425px) {
	.landing.page {
		grid-template-columns: 30rem;
	}
	
	.landing__h1{
		font-size: 8rem;
	}
}
.landing__h1{
	font-size: 6rem;
	letter-spacing: 3px;
	text-align: center;
	width: 100%;
}