form {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 1em;
}

form h1 {
    text-align: center;
    margin: 1em 0;
}

.update-form h1 {
    color: #e83636;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

button {
    margin-top: 1em;
}

form > div > label {
    font-weight: 500;
}

.welcome-form {
	background-color: #8888;
	border-radius: 1em;
	padding: 0 3em;
	padding-bottom: 2em;
	margin-top: 4em;
}

.welcome-form button {
    background-color: #2a7c43c2;
}
.update-form button { 
    background-color: #e83636;
}
.update-form input, 
.update-form [type="date" i] {
    background-color: #6408089d;
    color: #222;
}





