.page.form__page.login {
    background-color: gray;
}

.form__header-h1 {
    display: none;
}

.form__login {
    background-color: var(--black);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

@media (min-width: 425px) {
    .form__login {
        width: 30rem;
    }
}
width: 30rem;
.form__input {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form__buttons {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login__button:first-of-type {
    position: absolute;
    bottom: -6rem;
}