.page.welcome {
	place-content: center;
	place-items: center;
	row-gap: 5rem;

	height: 100vh;
	background: linear-gradient(0deg, var(--black) 10%, var(--purple) 90%);
}

.welcome__h1 {
	width: 100%;
	max-width: 30rem;
	text-align: center;
	font-size: 3.2rem;
}

.welcome__button {
	font-size: 1.8rem;
}