#root {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	--pale-fuccia: #f391f7;
	--fuccia: #d80a56;
	--dark-blue: #020635e7;
	--black: #131313;
	--white: #fafafa;
}

.app {
	background-color: var(--white);
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	position: relative;
}