#root {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 1rem;
}

/* form */
.form__container {
	background-color: #8888;
	height: 100%;
}

.form__box {
	background-color: royalblue;
	display: grid;
	grid-template-columns: 25rem;
	row-gap: 5rem;
}

.hide {
	display: none;
}

