/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--pale-fuccia: #f391f7;
	--fuccia: #d80a56;
	--dark-blue: #020635e7;
	--black: #131313;
	--white: #fafafa;
	
	
	font-family: 'Montserrat', sans-serif;
	font-family: 'Work Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	font-size: 62.5%;
	letter-spacing: 1px;	
}

ul {
	list-style: none;
}

input {
	height: 2.5rem;
	padding-left: .5rem;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--pale-fuccia);
    /* letter-spacing: 1px; */
	font-family: 'Work Sans', sans-serif;
	font-size: 1rem;
	/*
    border-radius: .5em;
    border: none;
	background-color: var(--coral-pink);
	padding: 0 .5em;
	*/
}

input:focus-visible {
	outline: none;
	border: 2px solid var(--pale-fuccia);
	border-top: none;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

button {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 1.4rem;
	color: var(--black);
	
	border: none;
	width: 100%;
	line-height: 3rem;
	
	cursor: pointer;	
	border-radius: .2rem;
	transform: scale(1);
	background-color: var(--pale-fuccia);
	transition: border-radius .3s ease, transform .3s ease;
}

button:hover {
	border-radius: 5rem;
	transform: scale(.97);
	background-color: var(--dark-blue);
	color: var(--white);
	transition: border-radius .3s ease, transform .3s ease;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
	width: 100%;
	padding: .7rem 0;
}