/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--pale-fuccia: #f391f7;
	--fuccia: #d80a56;
	--dark-blue: #020635e7;
	--black: #131313;
	--white: #fafafa;
	
	
	font-family: 'Poppins', sans-serif;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	font-size: 62.5%;
	letter-spacing: 1px;
	
}

body {
	min-width: 320px;
	width: 100%;
	min-height: 100vh;
	color: var(--white);
	background-color: var(--black);
}

ul {
	list-style: none;
}

input {
	height: 3rem;
	padding-left: .5rem;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid var(--cool-gray);
	color: var(--white);
    letter-spacing: 1px;
	font-family: 'Poppins';
	font-size: 1rem;
	/*
    border-radius: .5em;
    border: none;
	background-color: var(--coral-pink);
	padding: 0 .5em;
	*/
}

input[type="date" i] {
	font-family: 'Poppins', sans-serif;
}

button {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 1.4rem;
	color: var(--black);
	
	border: none;
	padding: 1rem;
	
	cursor: pointer;	
	border-radius: .2rem;
	transform: scale(1);
	background-color: var(--pale-fuccia);
	transition: border-radius .3s ease, transform .3s ease;
}

button:hover {
	border-radius: 5rem;
	transform: scale(.97);
	background-color: var(--fuccia);
	transition: border-radius .3s ease, transform .3s ease;
}